

.recommended-friends{
    border-top: var(--main-border);
    border-bottom: var(--main-border);
    padding : 25px 0px;
    margin: 25px 0px;
}
.recommended-friends__title{
    font-size: 14px;
    color: var(--gray-color);
}

.recommended-friends span{
    margin: 80px 0px;
    display: block;
    text-align: center;
    font-size: 18px;
    color: var(--gray-color);
}

.open-chat__header{
    display: flex;
    justify-content: space-between;
    color: var(--gray-color);
    margin-bottom: 25px;
}

.open-post{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.open-post__title{
    font-weight: 600;
    margin-bottom: 7px;
}
.open-post__hashtags{
    text-transform: uppercase;
    opacity: 0.6;
  
}

.open-post__members{
    margin-top: 13px;
    display:flex;
    align-items: center;

}

.open-post__members img{
    width: 18px;
    height: 18px;
    border-radius: 10px;
    margin-right: 5px;
}

.open-post__member-count{
    opacity: 0.5;
    font-size: 14px;
}
.open-post__members .divider{
    width: 2px;
    height: 15px;
    background-color: rgba(0,0,0,0.3);
    margin: 0px 5px;
}
.open-post__member-status{
    color : #ffb0e0;
}

.open-post__photo img{
    width: 120px;
    height: 120px;
    border-radius: 10px;
}

.open-post__photo{
    position: relative;
}
.open-post__heart-count{
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 5px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
}

.open-post__heart-count span{
    margin-left: 3px;
}

@keyframes heartBeat{
    0%{
        color: white;
        transform: none;
    }
    50%{
        color:tomato;
        transform :scale(1.2);
    }
    100%{
        color:white;
        transform: none;
    }
}
.open-post__heart-count:hover i{
    will-change: transform;
    animation: heartBeat 1s linear infinite;
}