.screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-top: 40px;
    margin-bottom: 15px;
    }

.screen-header__title{
    font-size: 32px;
    font-weight: 600;
}

.screen-header__icons span{
    margin-left: 20px;
}
.user-component__subtitle{
    margin-top: 5px;
    font-size: 17px;
    color: rgba(0,0,0,0.5);
}

.user-component__avatar--xl{
    width: 80px;
    height: 80px;
}
@keyframes rotateCog{
    from{
        transform: none;
    }
    to{
        transform: rotateZ(360deg);
    }
}

.screen-header__icons .fa-cog:hover{
    animation: rotateCog 1s linear infinite;
}