
.status-bar{
    display: flex;
    justify-content: space-between;
    padding:5px 3px;
    top:0;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
}

.status-bar__column .fa-battery-full{
    margin: 0px 5px;
}